body {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    background-image: url("../img/contact-bg.jpg");
    background-attachment: fixed;
}

/* Contact Area */
#contact-area {
    padding-bottom: 5vh;
    margin-top: 30vh;
    padding-top: 3vh;
}

#contact-area h1 {
    margin: auto;
    font-size: 5vh;
    text-align: center;
}

#contact-area p {
    margin: auto;
    text-align: center;
    font-size: 2.5vh;
}
.container{
    display: flex;
}
.col-4{
    margin-inline-start: 2vh;
    padding: 0;
}
blockquote {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 7vh;
}

#icon1 {
    margin-block: 2vh;
}

#icon1, #icon2 {
    margin-block: 3vh;
}

#icon1 i{
    font-size: x-large;
    color: crimson;
}
#icon1 a {
    font-size: large;
    color: blueviolet;
    text-decoration: none;
    transition: 0.2s;
    font-weight: bold;
}
#icon1 a:hover{
    color: black;
    text-shadow: 0.1rem 0.1rem 0 red;
}
#icon2 i{
    font-size: x-large;
    color: slateblue;
}
#icon2 a {
    font-size: 2vh;
    color: blueviolet;
    text-decoration: none;
    transition: 0.2s;
    font-weight: bold;
}
#icon2 a:hover{
    color: black;
    text-shadow: 0.1rem 0.1rem 0 red;
}
#icon3 i{
    font-size: x-large;
    color: rgb(14, 114, 14);
}
#icon3 a {
    font-size: 2vh;
    color: blueviolet;
    text-decoration: none;
    transition: 0.2s;
    font-weight: bold;
}
#icon3 a:hover{
    color: black;
    text-shadow: 0.1rem 0.1rem 0 red;
}